.divCaja {
  text-align: center;
}

ul {
  padding: 0;
  margin: auto;
  margin-top: 1.5rem;
  list-style: none;
  width: 26.5rem;
}

li {
  height: 2rem;
  margin: 0.5rem;
  border: 2px solid black;
}

app-linethrough-box + app-task-description {
  text-decoration: line-through;
}
